modLoader = "javafml"
loaderVersion = "[1,)"
issueTrackerURL = "${repo}/issues"
license = "${license}"

[[mods]]
modId = "${id}"
version = "${version}"
displayName = "${name}"
authors = "${author}"
description = "${description}"
logoFile = "icon.png"
displayTest="IGNORE_ALL_VERSION"

[[dependencies.${id}]]
modId = "neoforge"
type = "required"
versionRange = "[${neoforge_min},)"
ordering = "NONE"
side = "CLIENT"

[[dependencies.${id}]]
modId = "minecraft"
type = "required"
versionRange = "[${minecraft_min},)"
ordering = "NONE"
side = "CLIENT"

[[dependencies.${id}]]
modId = "${cloth_id}"
type = "required"
versionRange = "[${cloth_min},)"
ordering = "NONE"
side = "CLIENT"

[[dependencies.${id}]]
modId = "invmove"
type = "required"
versionRange = "[${invmove_version},)"
ordering = "BEFORE"
side = "CLIENT"

[[dependencies.${id}]]
modId = "rei"
type = "optional"
versionRange = "[${rei_min},)"
ordering = "NONE"
side = "CLIENT"

[[dependencies.${id}]]
modId = "emi"
type = "optional"
versionRange = "[${emi_min},)"
ordering = "NONE"
side = "CLIENT"

[[mixins]]
config = "${id}.mixins.json"
[[mixins]]
config = "${id}-neoforge.mixins.json"
